.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.help-block {
    position: absolute;
    color: red;
    margin: -70px 0px 0px 40%;
}

.panel-title{
    color: red;
}

.form-bg{
    background: linear-gradient(to right,#014d6f 10%,#2b8e8b);
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.form-horizontal .form-group{
    margin-bottom: 30px;
}
.form-horizontal .form-control{
    background: transparent;
    border: 1px solid rgba(255,255,255,0.5);
    height: 44px;
    line-height: 2;
    color: #fff;
    padding: 10px 15px;
}
.form-horizontal .form-control:focus{
    border-color: #fff;
    box-shadow:0 1px 3px rgba(255,255,255,0.5);
    outline: 0 none;
}
.form-horizontal .form-control::-moz-placeholder{
    color: #fff;
    opacity: 0.5;
}
.form-horizontal .check{
    display: none;
}
.form-horizontal .check + label{
    display: inline-block;
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
    padding: 10px 0;
    color: #fff;
    width: 48.4%;
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
}
.form-horizontal #check2 + label{
    margin-right: 0;
}
.form-horizontal .check:checked + label{
    background: #fff;
    color: #0062bd;
}
.form-horizontal select.form-control option{
    color: #000;
    background: #fff;
}
.form-horizontal .btn{
    color: #fff;
    background-color: rgba(255,255,255,0.4);
    border: none;
    padding: 10px 30px;
    font-weight: 600;
    transition: all 0.2s ease 0s;
}
.form-horizontal .btn:hover{
    color: #0062bd;
    background: #fff;
}
@media only screen and (max-width: 479px){
    .check + label{
        width: 48%;
    }
}
